# Neden NumPy?

In [ ]:
a = [1,2,3,4]
b = [2,3,4,5]

In [ ]:
ab = []

for i in range(0, len(a)):
  ab.append(a[i]*b[i])

ab

[2, 6, 12, 20]

In [ ]:
import numpy as np

In [ ]:
a = np.array([1,2,3,4])
b = np.array([2,3,4,5])

In [ ]:
a * b

array([ 2,  6, 12, 20])

# NumPy Array'i Oluşturmak

In [ ]:
import numpy as np

In [ ]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [ ]:
a = np.array([1,2,3,4,5])

In [ ]:
type(a)

numpy.ndarray

In [ ]:
np.array([3.14, 4, 2, 13], dtype = "int")

array([ 3,  4,  2, 13])

In [ ]:
#sifirdan array olusturma

In [ ]:
np.zeros(10, dtype = int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
np.ones((3,5), dtype = int)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [ ]:
np.full((3,5), 3)

array([[3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3]])

In [ ]:
np.arange(0,31, 3)

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [ ]:
np.linspace(0,1,10)

array([0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
       0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ])

In [ ]:
np.random.normal(10, 4, (3,4))

array([[ 7.95311755, 18.88626347,  6.68342754,  9.41779354],
       [ 6.56580837,  9.3286982 ,  2.81822871, 11.70010496],
       [15.3764241 ,  8.20890978,  8.67603323,  5.88175198]])

In [ ]:
np.random.randint(0,10, (3,3))

array([[9, 0, 2],
       [1, 1, 2],
       [5, 7, 8]])

# Özellikleri

* **ndim**: _boyut sayısı_
* shape: boyut bilgisi
* size: toplam eleman sayısı
* dtype: array veri tipi

In [ ]:
import numpy as np

In [ ]:
np.random.randint(10, size = 10)

array([8, 1, 0, 6, 3, 8, 2, 2, 8, 1])

In [ ]:
a = np.random.randint(10, size = 10)

In [ ]:
a.ndim

1

In [ ]:
a.shape

(10,)

In [ ]:
a.size

10

In [ ]:
a.dtype

dtype('int64')

In [ ]:
b = np.random.randint(10, size = (3,5))

In [ ]:
b

array([[5, 2, 8, 5, 8],
       [2, 4, 8, 4, 3],
       [9, 0, 2, 0, 2]])

In [ ]:
b.ndim

2

In [ ]:
b.shape

(3, 5)

In [ ]:
b.size

15

In [ ]:
b.dtype

dtype('int64')

# Yeniden Şekillendirme (Reshaping)

In [ ]:
import numpy as np

In [ ]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(1,10).reshape((3,3))

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
a = np.arange(1,10)

In [ ]:
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
a.ndim

1

In [ ]:
b = a.reshape((1,9))

In [ ]:
b

array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [ ]:
b.ndim

2

# Array Birlestirme (Concatenation)

In [ ]:
import numpy as np

In [ ]:
x = np.array([1,2,3])
y = np.array([4,5,6])

In [ ]:
np.concatenate([x, y])

array([1, 2, 3, 4, 5, 6])

In [ ]:
z = np.array([7,8,9])

In [ ]:
np.concatenate([x, y, z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#iki boyut

In [ ]:
a = np.array([[1,2,3],
              [4,5,6]])

In [ ]:
np.concatenate([a,a])

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [ ]:
np.concatenate([a,a], axis = 1)

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

# Array Ayırma (Splitting)

In [ ]:
import numpy as np

In [ ]:
x = np.array([1,2,3,99,99,3,2,1])

In [ ]:
np.split(x, [3,5])

[array([1, 2, 3]), array([99, 99]), array([3, 2, 1])]

In [ ]:
a,b,c = np.split(x, [3,5])

In [ ]:
a

array([1, 2, 3])

In [ ]:
b

array([99, 99])

In [ ]:
c

array([3, 2, 1])

In [ ]:
#iki boyutlu ayırma

In [ ]:
m = np.arange(16).reshape(4,4)
m

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [ ]:
np.vsplit(m, [2])

[array([[0, 1, 2, 3],
        [4, 5, 6, 7]]),
 array([[ 8,  9, 10, 11],
        [12, 13, 14, 15]])]

In [ ]:
ust, alt = np.vsplit(m, [2])

In [ ]:
ust

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [ ]:
alt

array([[ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [ ]:
m

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [ ]:
np.hsplit(m, [2])

[array([[ 0,  1],
        [ 4,  5],
        [ 8,  9],
        [12, 13]]), array([[ 2,  3],
        [ 6,  7],
        [10, 11],
        [14, 15]])]

In [ ]:
sag, sol = np.hsplit(m, [2])

In [ ]:
sag

array([[ 0,  1],
       [ 4,  5],
       [ 8,  9],
       [12, 13]])

In [ ]:
sol

array([[ 2,  3],
       [ 6,  7],
       [10, 11],
       [14, 15]])

# Array Sıralama (Sorting)

In [ ]:
import numpy as np

In [ ]:
v = np.array([2,1,4,3,5])

In [ ]:
v

array([2, 1, 4, 3, 5])

In [ ]:
np.sort(v)

array([1, 2, 3, 4, 5])

In [ ]:
v

array([2, 1, 4, 3, 5])

In [ ]:
v.sort()

In [ ]:
v

array([1, 2, 3, 4, 5])

In [ ]:
#iki boyutlu array siralama

In [ ]:
m = np.random.normal(20,5, (3,3))

In [ ]:
m

array([[21.28374224, 15.43523784, 20.9672116 ],
       [24.43863804, 17.62761555, 18.76875754],
       [20.42040829, 27.55398926, 18.16801916]])

In [ ]:
np.sort(m, axis = 1)

array([[15.43523784, 20.9672116 , 21.28374224],
       [17.62761555, 18.76875754, 24.43863804],
       [18.16801916, 20.42040829, 27.55398926]])

In [ ]:
np.sort(m, axis = 0)

array([[15.28755765, 18.65456644, 16.10947821],
       [17.50480621, 21.08674903, 25.99114299],
       [25.45684489, 21.83575476, 26.06913773]])

# Index ile Elemanlara Erişmek

In [ ]:
import numpy as np
a = np.random.randint(10, size = 10)
a

array([5, 1, 7, 4, 3, 8, 2, 8, 9, 3])

In [ ]:
a[0]

5

In [ ]:
a[-1]

3

In [ ]:
a[0] = 100

In [ ]:
a

array([100,   1,   7,   4,   3,   8,   2,   8,   9,   3])

In [ ]:
m = np.random.randint(10, size = (3,5))
m

array([[7, 7, 0, 7, 7],
       [8, 7, 7, 1, 8],
       [6, 3, 2, 4, 1]])

In [ ]:
m[0,0]

7

In [ ]:
m[1,1]

7

In [ ]:
m[1, 4]

9

In [ ]:
m[1, 4] = 99

In [ ]:
m

array([[ 6,  8,  8,  1,  9],
       [ 5,  3,  6,  5, 99],
       [ 5,  8,  4,  1,  4]])

In [ ]:
m[1,4] = 2.2

In [ ]:
m

array([[6, 8, 8, 1, 9],
       [5, 3, 6, 5, 2],
       [5, 8, 4, 1, 4]])

# Slicing ile Elemanlara Erişmek (Array Alt Kümesine Erişmek)

In [ ]:
import numpy as np

In [ ]:
a = np.arange(20,30)
a

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [ ]:
a[0:3]

array([20, 21, 22])

In [ ]:
a[:3]

array([20, 21, 22])

In [ ]:
a[3:]

array([23, 24, 25, 26, 27, 28, 29])

In [ ]:
a[1::2]

array([21, 23, 25, 27, 29])

In [ ]:
a[0::2]

array([20, 22, 24, 26, 28])

In [ ]:
a[2::2]

array([22, 24, 26, 28])

In [ ]:
a[0::3]

array([20, 23, 26, 29])

In [ ]:
#iki boyutlu slice islemleri

In [ ]:
m = np.random.randint(10, size = (5,5))

In [ ]:
m

array([[9, 7, 9, 7, 0],
       [2, 5, 3, 7, 2],
       [3, 0, 9, 5, 4],
       [7, 2, 1, 6, 5],
       [1, 2, 3, 5, 8]])

In [ ]:
m[:,0]

array([9, 2, 3, 7, 1])

In [ ]:
m[:,1]

array([7, 5, 0, 2, 2])

In [ ]:
m[:,4]

array([0, 2, 4, 5, 8])

In [ ]:
m

array([[9, 7, 9, 7, 0],
       [2, 5, 3, 7, 2],
       [3, 0, 9, 5, 4],
       [7, 2, 1, 6, 5],
       [1, 2, 3, 5, 8]])

In [ ]:
m[0,:]

array([9, 7, 9, 7, 0])

In [ ]:
m[2]

array([3, 0, 9, 5, 4])

In [ ]:
m[1,:]

array([2, 5, 3, 7, 2])

In [ ]:
m[0:2, 0:3]

array([[9, 7, 9],
       [2, 5, 3]])

In [ ]:
m[:,0:2]

array([[9, 7],
       [2, 5],
       [3, 0],
       [7, 2],
       [1, 2]])

In [ ]:
m

array([[9, 7, 9, 7, 0],
       [2, 5, 3, 7, 2],
       [3, 0, 9, 5, 4],
       [7, 2, 1, 6, 5],
       [1, 2, 3, 5, 8]])

In [ ]:
m[1:3, 0:2]

array([[2, 5],
       [3, 0]])

# Alt Küme Üzerinde İşlem Yapmak

In [ ]:
import numpy as np
a = np.random.randint(10, size = (5, 5))
a

array([[1, 2, 1, 2, 8],
       [3, 9, 2, 4, 9],
       [7, 3, 5, 1, 3],
       [6, 1, 0, 6, 8],
       [2, 7, 9, 9, 1]])

In [ ]:
alt_a = a[0:3, 0:2]
alt_a

array([[1, 2],
       [3, 9],
       [7, 3]])

In [ ]:
alt_a[0,0] = 99999
alt_a[1,1] = 888

In [ ]:
alt_a

array([[99999,     2],
       [    3,   888],
       [    7,     3]])

In [ ]:
a

array([[99999,     2,     1,     2,     8],
       [    3,   888,     2,     4,     9],
       [    7,     3,     5,     1,     3],
       [    6,     1,     0,     6,     8],
       [    2,     7,     9,     9,     1]])

In [ ]:
m = np.random.randint(10, size = (5, 5))
m

array([[0, 5, 2, 6, 8],
       [1, 7, 8, 7, 7],
       [3, 2, 1, 1, 9],
       [5, 0, 9, 2, 8],
       [4, 4, 6, 0, 7]])

In [ ]:
alt_b = m[0:3, 0:2].copy()
alt_b

array([[0, 5],
       [1, 7],
       [3, 2]])

In [ ]:
alt_b[0,0] = 9999

In [ ]:
alt_b

array([[9999,    5],
       [   1,    7],
       [   3,    2]])

In [ ]:
m

array([[0, 5, 2, 6, 8],
       [1, 7, 8, 7, 7],
       [3, 2, 1, 1, 9],
       [5, 0, 9, 2, 8],
       [4, 4, 6, 0, 7]])

# Fancy Index ile Elemanlara Erişmek

In [ ]:
import numpy as np
v = np.arange(0, 30, 3)
v

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

In [ ]:
v[1]

3

In [ ]:
v[3]

9

In [ ]:
v[5]

15

In [ ]:
[v[1], v[3], v[5]]

[3, 9, 15]

In [ ]:
al_getir = [1,3,5]

In [ ]:
v

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

In [ ]:
v[al_getir]

In [ ]:
#iki boyutta fancy

In [ ]:
m = np.arange(9).reshape((3,3))

In [ ]:
m

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
satir = np.array([0,1])
sutun = np.array([1,2])

In [ ]:
m[satir, sutun]

array([1, 5])

In [ ]:
#basit index ile fancy index

In [ ]:
m

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
m[0, [1,2]]

array([1, 2])

In [ ]:
#slice ile fancy

In [ ]:
m[0:, [1,2]]

array([[1, 2],
       [4, 5],
       [7, 8]])

# Koşullu Eleman İşlemleri

In [ ]:
import numpy as np
v = np.array([1, 2, 3, 4, 5])

In [ ]:
v < 3

array([ True,  True, False, False, False])

In [ ]:
v[v < 3]

In [ ]:
v[v > 3]

array([4, 5])

In [ ]:
v[v >= 3]

array([3, 4, 5])

In [ ]:
v[v <= 3]

array([1, 2, 3])

In [ ]:
v[v == 3]

array([3])

In [ ]:
v[v != 3]

array([1, 2, 4, 5])

In [ ]:
v

array([1, 2, 3, 4, 5])

In [ ]:
v * 2

array([ 2,  4,  6,  8, 10])

In [ ]:
v / 5

array([0.2, 0.4, 0.6, 0.8, 1. ])

In [ ]:
v*5/10

array([0.5, 1. , 1.5, 2. , 2.5])

In [ ]:
v**2

array([ 1,  4,  9, 16, 25])

# Matematiksel İşlemler

In [ ]:
import numpy as np
v = np.array([1, 2, 3, 4, 5])

In [ ]:
v - 1

array([0, 1, 2, 3, 4])

In [ ]:
v * 5

array([ 5, 10, 15, 20, 25])

In [ ]:
v / 5

array([0.2, 0.4, 0.6, 0.8, 1. ])

In [ ]:
v*5/10 - 1

array([-0.5,  0. ,  0.5,  1. ,  1.5])

In [ ]:
#ufunc

In [ ]:
np.subtract(v, 1)

array([0, 1, 2, 3, 4])

In [ ]:
np.add(v, 1)

array([2, 3, 4, 5, 6])

In [ ]:
np.multiply(v,4)

array([ 4,  8, 12, 16, 20])

In [ ]:
np.divide(v, 3)

array([0.33333333, 0.66666667, 1.        , 1.33333333, 1.66666667])

In [ ]:
v**2

array([ 1,  4,  9, 16, 25])

In [ ]:
v**3

array([  1,   8,  27,  64, 125])

In [ ]:
np.power(v, 3)

array([  1,   8,  27,  64, 125])

In [ ]:
v % 2

array([1, 0, 1, 0, 1])

In [ ]:
np.mod(v, 2)

array([1, 0, 1, 0, 1])

In [ ]:
np.absolute(np.array([-3]))

array([3])

In [ ]:
np.sin(360)

0.9589157234143065

In [ ]:
np.cos(180)

-0.5984600690578581

In [ ]:
v = np.array([1,2,3])

In [ ]:
np.log(v)

array([0.        , 0.69314718, 1.09861229])

In [ ]:
np.log2(v)

array([0.       , 1.       , 1.5849625])

In [ ]:
np.log10(v)

array([0.        , 0.30103   , 0.47712125])

In [ ]:
?np

Type:        module
String form: <module 'numpy' from '/anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>
File:        /anaconda3/lib/python3.7/site-packages/numpy/__init__.py
Docstring:
NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://www.scipy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as `np`::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

To search for documents containing a keyword, do::

  >>> np.lookfor('keyword')
  ... # doctest: +SKIP

General-purpose documents like a glossary and help on the basic concepts
of numpy are available under the ``doc`` sub-module::

  >>> from numpy import doc
  >>> help(doc)
  ... # doctest: +SKIP

Available subpackages
---------------------
doc
    Topical documentation on broadcasting, indexing, etc.
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
f2py
    Fortran to Python Interface Generator.
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more.

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
dual
    Overwrite certain functions with high-performance Scipy tools
matlib
    Make everything matrices.
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------
Start IPython with the NumPy profile (``ipython -p numpy``), which will
import `numpy` under the alias `np`.  Then, use the ``cpaste`` command to
paste examples into the shell.  To see which functions are available in
`numpy`, type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [ ]:
#cheatsheet

# İstatistiksel Hesaplamalar

In [ ]:
v

array([1, 2, 3])

In [ ]:
np.mean(v)

2.0

In [ ]:
v.sum()

6

In [ ]:
v.min()

1

* np.mean(arr,axis=0) | Returns mean along specific axis

* arr.sum() | Returns sum of arr

* arr.min() | Returns minimum value of arr

* arr.max(axis=0) | Returns maximum value of specific axis

* np.var(arr) | Returns the variance of array

* np.std(arr,axis=1) | Returns the standard deviation of specific axis

* arr.corrcoef() | Returns correlation coefficient of array

# NumPy ile İki Bilinmeyenli Denklem Çözümü

In [ ]:
import numpy as np

**5 * x0 + x1 = 12  
x0 + 3 * x1 = 10**

In [ ]:
a = np.array([[5,1], [1,3]])
b = np.array([12,10])

In [ ]:
a

array([[5, 1],
       [1, 3]])

In [ ]:
b

array([12, 10])

In [ ]:
x = np.linalg.solve(a, b)
x

array([1.85714286, 2.71428571])

# BOLUM SONU DEGERLENDIRMESI

# Pandas Serisi Oluşturmak

In [ ]:
import pandas as pd

In [ ]:
pd.Series([10,88,3,4,5])

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [ ]:
seri = pd.Series([10,88,3,4,5])

In [ ]:
type(seri)

pandas.core.series.Series

In [ ]:
seri.axes

[RangeIndex(start=0, stop=5, step=1)]

In [ ]:
seri.dtype

dtype('int64')

In [ ]:
seri.size

5

In [ ]:
seri.ndim

1

In [ ]:
seri.values

array([10, 88,  3,  4,  5])

In [ ]:
seri.head(3)

0    10
1    88
2     3
dtype: int64

In [ ]:
seri.tail(3)

2    3
3    4
4    5
dtype: int64

In [ ]:
#index isimlendirmesi

In [ ]:
pd.Series([99,22,332,94,5])

0     99
1     22
2    332
3     94
4      5
dtype: int64

In [ ]:
pd.Series([99,22,332,94,5], index = [1,3,5,7,9])

1     99
3     22
5    332
7     94
9      5
dtype: int64

In [ ]:
pd.Series([99,22,332,94,5], index = ["a","b","c","d","e"])

a     99
b     22
c    332
d     94
e      5
dtype: int64

In [ ]:
seri = pd.Series([99,22,332,94,5], index = ["a","b","c","d","e"])

In [ ]:
seri["a"]

99

In [ ]:
seri["a":"c"]

a     99
b     22
c    332
dtype: int64

In [ ]:
#sozluk uzerinden liste olusturmak

In [ ]:
sozluk = {"reg":10, "log":11, "cart": 12}

In [ ]:
seri = pd.Series(sozluk)

In [ ]:
seri

reg     10
log     11
cart    12
dtype: int64

In [ ]:
#iki seriyi birlestirerek seri olusturma

In [ ]:
pd.concat([seri,seri])

reg     10
log     11
cart    12
reg     10
log     11
cart    12
dtype: int64

# Eleman İşlemleri

In [ ]:
import numpy as np
a = np.array([1,2,33,444,75])
seri = pd.Series(a)
seri

0      1
1      2
2     33
3    444
4     75
dtype: int64

In [ ]:
seri[0]

1

In [ ]:
seri[0:3]

0     1
1     2
2    33
dtype: int64

In [ ]:
seri = pd.Series([121,200,150,99],
                 index = ["reg","loj","cart","rf"])

In [ ]:
seri

reg     121
loj     200
cart    150
rf       99
dtype: int64

In [ ]:
seri.index

Index(['reg', 'loj', 'cart', 'rf'], dtype='object')

In [ ]:
seri.keys

<bound method Series.keys of reg     121
loj     200
cart    150
rf       99
dtype: int64>

In [ ]:
list(seri.items())

[('reg', 121), ('loj', 200), ('cart', 150), ('rf', 99)]

In [ ]:
seri.values

array([121, 200, 150,  99])

In [ ]:
#eleman sorgulama

In [ ]:
"reg" in seri

True

In [ ]:
"a" in seri

False

In [ ]:
seri["reg"]

121

In [ ]:
#fancy eleman

In [ ]:
seri[["rf", "reg"]]

rf      99
reg    121
dtype: int64

In [ ]:
seri["reg"] = 130

In [ ]:
seri["reg"]

130

In [ ]:
seri["reg":"loj"]

reg    130
loj    200
dtype: int64

# Pandas DataFrame Oluşturma

In [1]:
import pandas as pd

In [2]:
l = [1,2,39,67,90]

In [3]:
l

[1, 2, 39, 67, 90]

In [4]:
 pd.DataFrame(l, columns = ["degisken_ismi"])

   degisken_ismi
0              1
1              2
2             39
3             67
4             90

In [ ]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
pd.DataFrame(m, columns = ["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
#df isimlendirme

In [ ]:
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
df.columns = ("deg1","deg2","deg3")

In [ ]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [ ]:
df.shape

(3, 3)

In [ ]:
df.ndim

2

In [ ]:
df.size

9

In [ ]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
type(df.values)

numpy.ndarray

In [ ]:
df.head()

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [ ]:
df.tail(1)

   deg1  deg2  deg3
2     7     8     9

In [ ]:
a = np.array([1,2,3,4,5])

In [ ]:
pd.DataFrame(a, columns = ["deg1"])

   deg1
0     1
1     2
2     3
3     4
4     5

# Eleman İşlemleri

In [ ]:
import numpy as np
s1 = np.random.randint(10, size = 5)
s2 = np.random.randint(10, size = 5)
s3 = np.random.randint(10, size = 5)

In [ ]:
sozluk = {"var1": s1, "var2": s2, "var3": s3}

In [ ]:
sozluk

{'var1': array([7, 3, 3, 4, 5]),
 'var2': array([4, 7, 2, 9, 0]),
 'var3': array([0, 6, 6, 8, 9])}

In [ ]:
df = pd.DataFrame(sozluk)

In [ ]:
df

   var1  var2  var3
0     7     4     0
1     3     7     6
2     3     2     6
3     4     9     8
4     5     0     9

In [ ]:
df[0:1]

   var1  var2  var3
0     7     4     0

In [ ]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df.index = ["a","b","c","d","e"]

In [ ]:
df

   var1  var2  var3
a     7     4     0
b     3     7     6
c     3     2     6
d     4     9     8
e     5     0     9

In [ ]:
df["c":"e"]

   var1  var2  var3
c     3     2     6
d     4     9     8
e     5     0     9

In [ ]:
#silme

In [ ]:
df.drop("a", axis = 0)

   var1  var2  var3
b     3     7     6
c     3     2     6
d     4     9     8
e     5     0     9

In [ ]:
df

   var1  var2  var3
a     7     4     0
b     3     7     6
c     3     2     6
d     4     9     8
e     5     0     9

In [ ]:
df.drop("a", axis = 0, inplace = True)

In [ ]:
df

   var1  var2  var3
b     3     7     6
c     3     2     6
d     4     9     8
e     5     0     9

In [ ]:
#fancy

In [ ]:
l = ["c","e"]

In [ ]:
df.drop(l, axis = 0)

   var1  var2  var3
b     3     7     6
d     4     9     8

In [ ]:
#degiskenler icin

In [ ]:
df

   var1  var2  var3
b     3     7     6
c     3     2     6
d     4     9     8
e     5     0     9

In [ ]:
"var1" in df

True

In [ ]:
l = ["var1","var4","var2"]

In [ ]:
for i in l:
    print(i in df)

True
False
True

In [ ]:
df

   var1  var2  var3
b     7     7     6
c     2     2     6
d     9     9     8
e     0     0     9

In [ ]:
df["var1"]

b    7
c    2
d    9
e    0
Name: var1, dtype: int64

In [ ]:
df["var4"] = df["var1"] / df["var2"]

In [ ]:
df

   var1  var2  var3  var4
b     7     7     6   1.0
c     2     2     6   1.0
d     9     9     8   1.0
e     0     0     9   NaN

In [ ]:
#degisken silmek

In [ ]:
df.drop("var4", axis = 1)

   var1  var2  var3
b     7     7     6
c     2     2     6
d     9     9     8
e     0     0     9

In [ ]:
df

   var1  var2  var3  var4
b     7     7     6   1.0
c     2     2     6   1.0
d     9     9     8   1.0
e     0     0     9   NaN

In [ ]:
df.drop("var4", axis = 1, inplace = True)

In [ ]:
df

   var1  var2  var3
b     7     7     6
c     2     2     6
d     9     9     8
e     0     0     9

In [ ]:
l = ["var1","var2"]

In [ ]:
df.drop(l, axis = 1)

   var3
b     6
c     6
d     8
e     9

# Gözlem ve Değişken Seçimi: loc & iloc

In [ ]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    19    25     1
1     1     2    10
2    12    11     6
3    18    10    18
4    17    11    27
5     8    20    21
6     9    13     7
7    19    24     9
8    27    13    29
9    18    10    23

In [ ]:
#loc: tanımlandığı şekli ile seçim yapmak için kullanılır.

In [ ]:
df.loc[0:3]

   var1  var2  var3
0    19    25     1
1     1     2    10
2    12    11     6
3    18    10    18

In [ ]:
#iloc: alışık olduğumuz indeksleme mantığı ile seçim yapar.

In [ ]:
df.iloc[0:3]

   var1  var2  var3
0    19    25     1
1     1     2    10
2    12    11     6

In [ ]:
df.iloc[0,0]

19

In [ ]:
df

   var1  var2  var3
0    19    25     1
1     1     2    10
2    12    11     6
3    18    10    18
4    17    11    27
5     8    20    21
6     9    13     7
7    19    24     9
8    27    13    29
9    18    10    23

In [ ]:
df.iloc[:3,:2]

   var1  var2
0    19    25
1     1     2
2    12    11

In [ ]:
df.loc[0:3, "var3"]

0     1
1    10
2     6
3    18
Name: var3, dtype: int64

In [ ]:
df.loc[0:3, "var3"]

0     1
1    10
2     6
3    18
Name: var3, dtype: int64

In [ ]:
df.iloc[0:3]["var3"]

0     1
1    10
2     6
Name: var3, dtype: int64

# Koşullu Eleman İşlemleri

In [ ]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    26    10    23
1    25    29     4
2    27    16     2
3     9     5     2
4    13     7     7
5    15    11    27
6     3    22    23
7    22    28    24
8    29     7    25
9    12    19     9

In [ ]:
df["var1"]

0    26
1    25
2    27
3     9
4    13
5    15
6     3
7    22
8    29
9    12
Name: var1, dtype: int64

In [ ]:
df[0:2][["var1","var2"]]

   var1  var2
0    26    10
1    25    29

In [ ]:
df

   var1  var2  var3
0    26    10    23
1    25    29     4
2    27    16     2
3     9     5     2
4    13     7     7
5    15    11    27
6     3    22    23
7    22    28    24
8    29     7    25
9    12    19     9

In [ ]:
df.var1

0    26
1    25
2    27
3     9
4    13
5    15
6     3
7    22
8    29
9    12
Name: var1, dtype: int64

In [ ]:
df[df.var1 > 15]

   var1  var2  var3
0    26    10    23
1    25    29     4
2    27    16     2
7    22    28    24
8    29     7    25

In [ ]:
df[(df.var1 > 15) & (df.var3 < 5)]

   var1  var2  var3
1    25    29     4
2    27    16     2

In [ ]:
df.loc[(df.var1 > 15), ["var1","var2"]]

   var1  var2
0    26    10
1    25    29
2    27    16
7    22    28
8    29     7

In [ ]:
df[(df.var1 > 15)][["var1","var2"]]

   var1  var2
0    26    10
1    25    29
2    27    16
7    22    28
8    29     7

# Birleştirme (Join) İşlemleri

In [ ]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (5,3))
df1 = pd.DataFrame(m, columns = ["var1","var2","var3"])
df1

   var1  var2  var3
0    24    25     9
1    16     1    19
2    20    12    16
3    11     3     4
4     1    23     2

In [ ]:
df2 = df1 + 99

In [ ]:
df2

   var1  var2  var3
0   123   124   108
1   115   100   118
2   119   111   115
3   110   102   103
4   100   122   101

In [ ]:
pd.concat([df1,df2])

   var1  var2  var3
0    24    25     9
1    16     1    19
2    20    12    16
3    11     3     4
4     1    23     2
0   123   124   108
1   115   100   118
2   119   111   115
3   110   102   103
4   100   122   101

In [ ]:
?pd.concat

Signature:
pd.concat(
    objs,
    axis=0,
    join='outer',
    join_axes=None,
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    sort=None,
    copy=True,
)
Docstring:
Concatenate pandas objects along a particular axis with optional set logic
along the other axes.

Can also add a layer of hierarchical indexing on the concatenation axis,
which may be useful if the labels are the same (or overlapping) on
the passed axis number.

Parameters
----------
objs : a sequence or mapping of Series, DataFrame, or Panel objects
    If a dict is passed, the sorted keys will be used as the `keys`
    argument, unless it is passed, in which case the values will be
    selected (see below). Any None objects will be dropped silently unless
    they are all None in which case a ValueError will be raised
axis : {0/'index', 1/'columns'}, default 0
    The axis to concatenate along
join : {'inner', 'outer'}, default 'outer'
    How to handle indexes on other axis(es)
join_axes : list of Index objects
    Specific indexes to use for the other n - 1 axes instead of performing
    inner/outer set logic
ignore_index : boolean, default False
    If True, do not use the index values along the concatenation axis. The
    resulting axis will be labeled 0, ..., n - 1. This is useful if you are
    concatenating objects where the concatenation axis does not have
    meaningful indexing information. Note the index values on the other
    axes are still respected in the join.
keys : sequence, default None
    If multiple levels passed, should contain tuples. Construct
    hierarchical index using the passed keys as the outermost level
levels : list of sequences, default None
    Specific levels (unique values) to use for constructing a
    MultiIndex. Otherwise they will be inferred from the keys
names : list, default None
    Names for the levels in the resulting hierarchical index
verify_integrity : boolean, default False
    Check whether the new concatenated axis contains duplicates. This can
    be very expensive relative to the actual data concatenation
sort : boolean, default None
    Sort non-concatenation axis if it is not already aligned when `join`
    is 'outer'. The current default of sorting is deprecated and will
    change to not-sorting in a future version of pandas.

    Explicitly pass ``sort=True`` to silence the warning and sort.
    Explicitly pass ``sort=False`` to silence the warning and not sort.

    This has no effect when ``join='inner'``, which already preserves
    the order of the non-concatenation axis.

    .. versionadded:: 0.23.0

copy : boolean, default True
    If False, do not copy data unnecessarily

Returns
-------
concatenated : object, type of objs
    When concatenating all ``Series`` along the index (axis=0), a
    ``Series`` is returned. When ``objs`` contains at least one
    ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
    the columns (axis=1), a ``DataFrame`` is returned.

See Also
--------
Series.append
DataFrame.append
DataFrame.join
DataFrame.merge

Notes
-----
The keys, levels, and names arguments are all optional.

A walkthrough of how this method fits in with other tools for combining
pandas objects can be found `here
<http://pandas.pydata.org/pandas-docs/stable/merging.html>`__.

Examples
--------
Combine two ``Series``.

>>> s1 = pd.Series(['a', 'b'])
>>> s2 = pd.Series(['c', 'd'])
>>> pd.concat([s1, s2])
0    a
1    b
0    c
1    d
dtype: object

Clear the existing index and reset it in the result
by setting the ``ignore_index`` option to ``True``.

>>> pd.concat([s1, s2], ignore_index=True)
0    a
1    b
2    c
3    d
dtype: object

Add a hierarchical index at the outermost level of
the data with the ``keys`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2',])
s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

Label the index keys you create with the ``names`` option.

>>> pd.concat([s1, s2], keys=['s1', 's2'],
...           names=['Series name', 'Row ID'])
Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

Combine two ``DataFrame`` objects with identical columns.

>>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
...                    columns=['letter', 'number'])
>>> df1
  letter  number
0      a       1
1      b       2
>>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
...                    columns=['letter', 'number'])
>>> df2
  letter  number
0      c       3
1      d       4
>>> pd.concat([df1, df2])
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects with overlapping columns
and return everything. Columns outside the intersection will
be filled with ``NaN`` values.

>>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
...                    columns=['letter', 'number', 'animal'])
>>> df3
  letter  number animal
0      c       3    cat
1      d       4    dog
>>> pd.concat([df1, df3], sort=False)
  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

Combine ``DataFrame`` objects with overlapping columns
and return only those that are shared by passing ``inner`` to
the ``join`` keyword argument.

>>> pd.concat([df1, df3], join="inner")
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects horizontally along the x axis by
passing in ``axis=1``.

>>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                    columns=['animal', 'name'])
>>> pd.concat([df1, df4], axis=1)
  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

Prevent the result from including duplicate index values with the
``verify_integrity`` option.

>>> df5 = pd.DataFrame([1], index=['a'])
>>> df5
   0
a  1
>>> df6 = pd.DataFrame([2], index=['a'])
>>> df6
   0
a  2
>>> pd.concat([df5, df6], verify_integrity=True)
Traceback (most recent call last):
    ...
ValueError: Indexes have overlapping values: ['a']
File:      /anaconda3/lib/python3.7/site-packages/pandas/core/reshape/concat.py
Type:      function

In [ ]:
pd.concat([df1,df2], ignore_index=True)

   var1  var2  var3
0    24    25     9
1    16     1    19
2    20    12    16
3    11     3     4
4     1    23     2
5   123   124   108
6   115   100   118
7   119   111   115
8   110   102   103
9   100   122   101

In [ ]:
df1.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [ ]:
df2.columns = ["var1","var2","deg3"]

In [ ]:
df2

   var1  var2  deg3
0   123   124   108
1   115   100   118
2   119   111   115
3   110   102   103
4   100   122   101

In [ ]:
df1

   var1  var2  var3
0    24    25     9
1    16     1    19
2    20    12    16
3    11     3     4
4     1    23     2

In [ ]:
pd.concat([df1, df2])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    deg3  var1  var2  var3
0    NaN    24    25   9.0
1    NaN    16     1  19.0
2    NaN    20    12  16.0
3    NaN    11     3   4.0
4    NaN     1    23   2.0
0  108.0   123   124   NaN
1  118.0   115   100   NaN
2  115.0   119   111   NaN
3  103.0   110   102   NaN
4  101.0   100   122   NaN

In [ ]:
pd.concat([df1, df2], join = "inner")

   var1  var2
0    24    25
1    16     1
2    20    12
3    11     3
4     1    23
0   123   124
1   115   100
2   119   111
3   110   102
4   100   122

In [ ]:
pd.concat([df1, df2], join_axes = [df2.columns], ignore_index=True)

   var1  var2   deg3
0    24    25    NaN
1    16     1    NaN
2    20    12    NaN
3    11     3    NaN
4     1    23    NaN
5   123   124  108.0
6   115   100  118.0
7   119   111  115.0
8   110   102  103.0
9   100   122  101.0

# İleri Birleştirme İşlemleri

In [ ]:
import pandas as pd

In [ ]:
#birebir birlestirme

In [ ]:
df1 = pd.DataFrame({'calisanlar': ['Ali', 'Veli', 'Ayse', 'Fatma'],
                    'grup': ['Muhasebe', 'Muhendislik', 'Muhendislik', 'İK']})

df1

  calisanlar         grup
0        Ali     Muhasebe
1       Veli  Muhendislik
2       Ayse  Muhendislik
3      Fatma           İK

In [ ]:
df2 = pd.DataFrame({'calisanlar': ['Ayse', 'Ali', 'Veli', 'Fatma'],
                    'ilk_giris': [2010, 2009, 2014, 2019]})

df2

  calisanlar  ilk_giris
0       Ayse       2010
1        Ali       2009
2       Veli       2014
3      Fatma       2019

In [ ]:
pd.merge(df1, df2)

  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           İK       2019

In [ ]:
pd.merge(df1, df2, on = "calisanlar")

  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           İK       2019

In [ ]:
#coktan teke

In [ ]:
df3 = pd.merge(df1, df2)

In [ ]:
df3

  calisanlar         grup  ilk_giris
0        Ali     Muhasebe       2009
1       Veli  Muhendislik       2014
2       Ayse  Muhendislik       2010
3      Fatma           İK       2019

In [ ]:
df4 = pd.DataFrame({'grup': ['Muhasebe', 'Muhendislik', 'İK'],
                    'mudur': ['Caner', 'Mustafa', 'Berkcan']})

df4

          grup    mudur
0     Muhasebe    Caner
1  Muhendislik  Mustafa
2           İK  Berkcan

In [ ]:
pd.merge(df3,df4)

  calisanlar         grup  ilk_giris    mudur
0        Ali     Muhasebe       2009    Caner
1       Veli  Muhendislik       2014  Mustafa
2       Ayse  Muhendislik       2010  Mustafa
3      Fatma           İK       2019  Berkcan

In [ ]:
# çoktan çoka

In [ ]:
df5 = pd.DataFrame({'grup': ['Muhasebe', 'Muhasebe',
                              'Muhendislik', 'Muhendislik', 'İK', 'İK'],
                    'yetenekler': ['matematik', 'excel', 'kodlama', 'linux',
                               'excel', 'yonetim']})

df5

          grup yetenekler
0     Muhasebe  matematik
1     Muhasebe      excel
2  Muhendislik    kodlama
3  Muhendislik      linux
4           İK      excel
5           İK    yonetim

In [ ]:
df1

  calisanlar         grup
0        Ali     Muhasebe
1       Veli  Muhendislik
2       Ayse  Muhendislik
3      Fatma           İK

In [ ]:
pd.merge(df1, df5)

  calisanlar         grup yetenekler
0        Ali     Muhasebe  matematik
1        Ali     Muhasebe      excel
2       Veli  Muhendislik    kodlama
3       Veli  Muhendislik      linux
4       Ayse  Muhendislik    kodlama
5       Ayse  Muhendislik      linux
6      Fatma           İK      excel
7      Fatma           İK    yonetim

# Toplulaştırma ve Gruplama (Aggregation & Grouping)

Basit toplulaştırma fonksiyonları:

* count()
* first()
* last()
* mean()
* median()
* min()
* max()
* std()
* var()
* sum()

In [ ]:
import seaborn as sns

In [ ]:
?sns.load_dataset

Signature: sns.load_dataset(name, cache=True, data_home=None, **kws)
Docstring:
Load a dataset from the online repository (requires internet).

Parameters
----------
name : str
    Name of the dataset (`name`.csv on
    https://github.com/mwaskom/seaborn-data).  You can obtain list of
    available datasets using :func:`get_dataset_names`
cache : boolean, optional
    If True, then cache data locally and use the cache on subsequent calls
data_home : string, optional
    The directory in which to cache data. By default, uses ~/seaborn-data/
kws : dict, optional
    Passed to pandas.read_csv
File:      /anaconda3/lib/python3.7/site-packages/seaborn/utils.py
Type:      function

In [ ]:
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
df.shape

(1035, 6)

In [ ]:
df.mean()

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [ ]:
df["mass"].mean()

2.6381605847953233

In [ ]:
df["mass"].count()

513

In [ ]:
df["mass"].min()

0.0036

In [ ]:
df["mass"].max()

25.0

In [ ]:
df["mass"].sum()

1353.37638

In [ ]:
df["mass"].std()

3.8186166509616046

In [ ]:
df["mass"].var()

14.58183312700122

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [ ]:
df.dropna().describe().T

,count,mean,std,min,25%,50%,75%,max
number,498.0,1.734940,1.175720,1.0000,1.00000,1.000,2.0000,6.0
orbital_period,498.0,835.778671,1469.128259,1.3283,38.27225,357.000,999.6000,17337.5
mass,498.0,2.509320,3.636274,0.0036,0.21250,1.245,2.8675,25.0
distance,498.0,52.068213,46.596041,1.3500,24.49750,39.940,59.3325,354.0
year,498.0,2007.377510,4.167284,1989.0000,2005.00000,2009.000,2011.0000,2014.0

# Gruplama İşlemleri

In [ ]:
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'veri': [10,11,52,23,43,55]}, columns=['gruplar', 'veri'])
df

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    23
4       B    43
5       C    55

In [ ]:
df.groupby("gruplar")

In [ ]:
df.groupby("gruplar").mean()

         veri
gruplar
A        16.5
B        27.0
C        53.5

In [ ]:
df.groupby("gruplar").sum()

         veri
gruplar
A          33
B          54
C         107

In [ ]:
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
df.groupby("method")

In [ ]:
df.groupby("method")["orbital_period"].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [ ]:
df.groupby("method")["orbital_period"].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,631.180000,544.217663,246.360000,438.770000,631.180000,823.590000,1016.000000
Eclipse Timing Variations,9.0,4751.644444,2499.130945,1916.250000,2900.000000,4343.500000,5767.000000,10220.000000
Imaging,12.0,118247.737500,213978.177277,4639.150000,8343.900000,27500.000000,94250.000000,730000.000000
Microlensing,7.0,3153.571429,1113.166333,1825.000000,2375.000000,3300.000000,3550.000000,5100.000000
Orbital Brightness Modulation,3.0,0.709307,0.725493,0.240104,0.291496,0.342887,0.943908,1.544929
Pulsar Timing,5.0,7343.021201,16313.265573,0.090706,25.262000,66.541900,98.211400,36525.000000
Pulsation Timing Variations,1.0,1170.000000,NaN,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000
Radial Velocity,553.0,823.354680,1454.926210,0.736540,38.021000,360.200000,982.000000,17337.500000
Transit,397.0,21.102073,46.185893,0.355000,3.160630,5.714932,16.145700,331.600590
Transit Timing Variations,3.0,79.783500,71.599884,22.339500,39.675250,57.011000,108.505500,160.000000

# İleri Toplulaştırma İşlemleri (Aggregate, filter, transform, apply)

In [ ]:
import pandas as pd
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
#aggregate

In [ ]:
df.groupby("gruplar").mean()

         degisken1  degisken2
gruplar
A               16        181
B               17        182
C               66        651

In [ ]:
df.groupby("gruplar").aggregate([min, np.median, max])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10     16  22       100    181  262
B              11     17  23       111    182  253
C              33     66  99       333    651  969

In [ ]:
df.groupby("gruplar").aggregate({"degisken1": "min", "degisken2": "max"})

         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969

In [ ]:
#filter

In [ ]:
import pandas as pd
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
def filter_func(x):
    return x["degisken1"].std() > 9

In [ ]:
df.groupby("gruplar").std()

         degisken1   degisken2
gruplar
A         8.485281  114.551299
B         8.485281  100.409163
C        46.669048  449.719913

In [ ]:
df.groupby("gruplar").filter(filter_func)

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

In [ ]:
#transform

In [ ]:
import pandas as pd
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
df["degisken1"]*9

0     90
1    207
2    297
3    198
4     99
5    891
Name: degisken1, dtype: int64

In [ ]:
df_a = df.iloc[:,1:3]

In [ ]:
df_a.transform(lambda x: (x-x.mean()) / x.std())

   degisken1  degisken2
0  -0.687871  -0.738461
1  -0.299074  -0.263736
2   0.000000  -0.015514
3  -0.328982  -0.235811
4  -0.657963  -0.704331
5   1.973890   1.957853

In [ ]:
#apply

In [ ]:
import pandas as pd
df = pd.DataFrame({'gruplar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'degisken1': [10,23,33,22,11,99],
                   'degisken2': [100,253,333,262,111,969]},
                   columns = ['gruplar', 'degisken1', 'degisken2'])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [ ]:
df.apply(np.sum)

degisken1     198
degisken2    2028
dtype: int64

In [ ]:
df.apply(np.mean)

degisken1     33.0
degisken2    338.0
dtype: float64

In [ ]:
df.groupby("gruplar").apply(np.mean)

         degisken1  degisken2
gruplar
A             16.0      181.0
B             17.0      182.0
C             66.0      651.0

# Pivot Tablolar

In [ ]:
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
titanic.groupby("sex")[["survived"]].mean()

        survived
sex
female  0.742038
male    0.188908

In [ ]:
titanic.groupby(["sex","class"])[["survived"]].aggregate("mean").unstack()

        survived
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [ ]:
#pivot ile table

In [ ]:
titanic.pivot_table("survived", index = "sex", columns = "class")

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [ ]:
titanic.age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [ ]:
age = pd.cut(titanic["age"], [0, 18, 90])
age.head(10)

0    (18.0, 90.0]
1    (18.0, 90.0]
2    (18.0, 90.0]
3    (18.0, 90.0]
4    (18.0, 90.0]
5             NaN
6    (18.0, 90.0]
7     (0.0, 18.0]
8    (18.0, 90.0]
9     (0.0, 18.0]
Name: age, dtype: category
Categories (2, interval[int64]): [(0, 18] < (18, 90]]

In [ ]:
titanic.pivot_table("survived", ["sex", age], "class")

class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 90]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 90]  0.375000  0.071429  0.133663

# Dış Kaynaklı Veri Okumak

In [ ]:
import pandas as pd

In [ ]:
?pd.read_csv

Signature:
pd.read_csv(
    filepath_or_buffer,
    sep=',',
    delimiter=None,
    header='infer',
    names=None,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=None,
    mangle_dupe_cols=True,
    dtype=None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal=b'.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    dialect=None,
    tupleize_cols=None,
    error_bad_lines=True,
    warn_bad_lines=True,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object, or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts either
    ``pathlib.Path`` or ``py._path.local.LocalPath``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If file contains no header row, then you
    should explicitly pass ``header=None``. Duplicates in this list will cause
    a ``UserWarning`` to be issued.
index_col : int, sequence or bool, optional
    Column to use as the row labels of the DataFrame. If a sequence is given, a
    MultiIndex is used. If you have a malformed file with delimiters at the end
    of each line, you might consider ``index_col=False`` to force pandas to
    not use the first column as the index (row names).
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
    'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparseable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.

    .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
tupleize_cols : bool, default False
    Leave a list of tuples on columns as is (default is to convert to
    a MultiIndex on the columns).

    .. deprecated:: 0.21.0
       This argument will be removed and will always convert to MultiIndex

error_bad_lines : bool, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned.
warn_bad_lines : bool, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.
delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.

    .. versionadded:: 0.18.1 support for the Python parser.

low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are `None` for the ordinary converter,
    `high` for the high-precision converter, and `round_trip` for the
    round-trip converter.

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
File:      /anaconda3/lib/python3.7/site-packages/pandas/io/parsers.py
Type:      function

In [ ]:
#csv okuma
pd.read_csv("reading_data/ornekcsv.csv", sep = ";")

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [ ]:
#txt okuma
pd.read_csv("reading_data/duz_metin.txt")

    1 2
0   2 2
1   3 2
2   4 2
3   5 2
4   6 2
5  7 2
6   8 2
7   9 2
8  10 2

In [ ]:
#excel
pd.read_excel("reading_data/ornekx.xlsx")

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [ ]:
df = pd.read_excel("reading_data/ornekx.xlsx")

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.head()

    a    b    c
0  78   12  1.0
1  78   12  2.0
2  78  324  3.0
3   7    2  4.0
4  88   23  5.0

In [ ]:
df.columns = ("A","B","C")

In [ ]:
df

      A    B     C
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [ ]:
#sıfırdan txt okuma
tips = pd.read_csv("reading_data/data.txt")

In [ ]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Bonus: Problem Çözme ve Döküman Okuma Kültürü

In [ ]:
9 / 0

ZeroDivisionError: division by zero

# BOLUM SONU DEGERLENDIRMESI